extends /layout/page

block title
    title Как изменит мир Метавселенная? Маркетинг в новой цифровой эпохе.

block variables
    - var page = 'article'
block content
    .container
        .row.mt-30.mt-md-10
            .col-sm-12.col-md-8  
                nav(aria-label="breadcrumb")
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href="/").link-gray-middle Главная
                        li.breadcrumb-item
                            a(href="/").link-gray-middle Блог
                        li(aria-current="page").breadcrumb-item.active Как изменит мир Метавселенная?...
            .col-sm-12.col-md-4.text-md-end    
                .par-15.c-gray с 14 ноября 2023
            .col.d-block.d-md-none  
                +img('product/brest-main.jpg' ,'Брест', 'img-fluid mt-30' )
        .row.mt-30.mt-md-40
            .col 
                h3 Как изменит мир Метавселенная? Маркетинг в новой цифровой эпохе.
        .row.mt-30.mt-md-60  
            .col-sm-12.col-md-3 
                .par-15.c-gray Поделиться
                .d-flex.gap-24.mt-16
                    a(href="") 
                        +img('icons/odnoklassniki.svg')
                    a(href="")
                        +img('icons/telegram.svg')
                    a(href="")
                        +img('icons/vk.svg')
            .col-sm-12.col-md-9.mt-16.mt-md-0
                .par-20 Метавселенные – это следующий этап развития цифровой реальности, открывающий новые возможности для развития бизнеса и продвижения продукции. На данный момент общество находится на заре появления Метавселенных, и предполагается, что крупные компании обзаведутся своими метавселенными в ближайшие годы.
    .image-full-width.mt-30.mt-md-80.d-none.d-md-block 
        +img('product/brest-main.jpg' ,'Брест','img-fluid' )
    .container.article-content.mb-60.mb-md-160    
        .row.mt-30.mt-md-60  
            .col-lg-9.col.gap-
                p Метавселенная – эта виртуальное пространство, где происходит взаимодействие людей друг с другом и с окружающей реальностью. Оно предназначено для общения, развлечения, экономической деятельности. Возникновение такого цифрового пространства стало возможным, благодаря развитию новейших технологий AR и VR, Интернета и блокчейна. В отличие от виртуальных игр, в Метавселенных есть возможность осуществлять бизнес-деятельность, вкладывать, зарабатывать и тратить финансовые средства.
                p Метавселенная объединяет различные сферы, в том числе и маркетинг. В этом цифровом пространстве компании могут продвигать свои товары или услуги компании, виртуальные магазины находят решение, как привлечь клиентов, а рекламодатели получат возможность рекламировать свою продукцию. Присутствие бренда в метавселенной позволит увеличить его привлекательность, повысить лояльность клиентов к компании.
                p Метавселенная позволит объединять различные социальные сети и мессенджеры, кинотеатры, магазины, создавать виртуальные миры, играть в креативные игры. В увлекательных играх пользователи имеют возможность приобрести продукт определенной компании из реального мира. Например, купить одежду не только для своего аватара, но и для самого себя, предварительно ее примерив. Или приобрести пиццу из реальной пиццерии, заказав ее в виртуальной игре. В результате компьютерные игры становятся средством коммуникации между брендами и клиентами.
                h3 Заголовок про метавселенные
                p Метавселенная – эта виртуальное пространство, где происходит взаимодействие людей друг с другом и с окружающей реальностью. Оно предназначено для общения, развлечения, экономической деятельности. Возникновение такого цифрового пространства стало возможным, благодаря развитию новейших технологий AR и VR, Интернета и блокчейна. В отличие от виртуальных игр, в Метавселенных есть возможность осуществлять бизнес-деятельность, вкладывать, зарабатывать и тратить финансовые средства.
                p Метавселенная объединяет различные сферы, в том числе и маркетинг. В этом цифровом пространстве компании могут продвигать свои товары или услуги компании, виртуальные магазины находят решение, как привлечь клиентов, а рекламодатели получат возможность рекламировать свою продукцию. Присутствие бренда в метавселенной позволит увеличить его привлекательность, повысить лояльность клиентов к компании.
                p Метавселенная позволит объединять различные социальные сети и мессенджеры, кинотеатры, магазины, создавать виртуальные миры, играть в креативные игры. В увлекательных играх пользователи имеют возможность приобрести продукт определенной компании из реального мира. Например, купить одежду не только для своего аватара, но и для самого себя, предварительно ее примерив. Или приобрести пиццу из реальной пиццерии, заказав ее в виртуальной игре. В результате компьютерные игры становятся средством коммуникации между брендами и клиентами.    
                +img('blog/article-img.jpg', alt="", 'img-fluid')
                p Метавселенная позволит объединять различные социальные сети и мессенджеры, кинотеатры, магазины, создавать виртуальные миры, играть в креативные игры. В увлекательных играх пользователи имеют возможность приобрести продукт определенной компании из реального мира. Например, купить одежду не только для своего аватара, но и для самого себя, предварительно ее примерив. Или приобрести пиццу из реальной пиццерии, заказав ее в виртуальной игре. В результате компьютерные игры становятся средством коммуникации между брендами и клиентами.    
                .quote 
                    p Цитата в тексте или мысль, которую надо выделить. 
                    p Метавселенная позволит объединять различные социальные сети и мессенджеры, кинотеатры, магазины, создавать виртуальные миры, играть в креативные игры. В увлекательных играх пользователи имеют возможность приобрести продукт определенной компании из реального мира. Например, купить одежду не только для своего аватара, но и для самого себя, предварительно ее примерив. Или приобрести пиццу из реальной пиццерии, заказав ее в виртуальной игре. В результате компьютерные игры становятся средством коммуникации между брендами и клиентами.    
                p Метавселенная позволит объединять различные социальные сети и мессенджеры, кинотеатры, магазины, создавать виртуальные миры, играть в креативные игры. В увлекательных играх пользователи имеют возможность приобрести продукт определенной компании из реального мира. Например, купить одежду не только для своего аватара, но и для самого себя, предварительно ее примерив. Или приобрести пиццу из реальной пиццерии, заказав ее в виртуальной игре. В результате компьютерные игры становятся средством коммуникации между брендами и клиентами.    
