extends /layout/page

block variables
    - var page = 'front'
block content
    .banner.text-center.pos-r
        +img('bg/banner-imgs1.png','banner-img2','banner-img2')
        
        .container 
            p.banner-paragpaph с 01 июля 2023 года по 30 сентября 2023 года
            h1.pos-r.text-gradient.text-shadow.px-20.d-ib Лови лето
                +img('icons/banner-icons1.svg','banner-icon1','banner-icon1')
                +img('icons/banner-icons2.svg','banner-icon2','banner-icon2')
            .banner-sub-title с Kabanos и Redmond!
            form(action="").banner-form.d-fx.ai-c.jc-sb 
                input(type="text" placeholder="ВВЕДИТЕ КОД").banner-form-control
                button.btn.d-fx.ai-c.px-40.py-18.dark-btn
                    | ЗАРЕГИСТРИРОВАТЬ
    #how.home-section1
        .container.pos-r 
            +img('left-side-img1.png','Prize Img','left-side-img1')
            +img('left-side-img2.png','Prize Img','left-side-img2')
            +img('left-side-img3.png','Prize Img','left-side-img3')
            +img('left-side-img4.png','Prize Img','left-side-img4')
            +img('right-side-img1.png','Prize Img','right-side-img1')
            +img('right-side-img2.png','Prize Img','right-side-img2')
            +img('right-side-img3.png','Prize Img','right-side-img3')
            h2.text-center.color-blue Как участвовать
            .how-to-use--items
                .how-to-use--item
                    .how-to-use--img
                        +img('how-to-use-img1.png','how-to-use-img','how-to-use-img1')
                        .how-to-use-step 1
                    h4.how-to-use-title.text-center.color-orange Купи
                    .how-to-use--desc «Kabanos&nbsp;Chicken»<br>в акционной промо-упаковке
                .how-to-use--item
                    .how-to-use--img
                        +img('how-to-use-img2.png','how-to-use-img','how-to-use-img2')
                        .how-to-use-step 2
                    h4.how-to-use-title.text-center.color-orange Найди и<br>зарегистрируй
                    .how-to-use--desc «Kabanos&nbsp;Chicken»<br>в акционной промо-упаковке
                .how-to-use--item
                    .how-to-use--img
                        +img('how-to-use-img3.png','how-to-use-img','how-to-use-img3')
                        .how-to-use-step 3
                    h4.how-to-use-title.text-center.color-orange Публикуй
                    .how-to-use--desc свои истории про Kabanos
            #prize.step4-num 4
            .step4-title и выигрывай призы
            .step4-subtitle Подарочные промо-коды на покупку Redmond
            .step4-items 
                .step4-item 
                    .step4-img 
                        .step-img-wrap.step-img-wrap1 
                            +img('step4-img1.png','step4-img1','step4-img1 step-img')
                        +img('shadow.svg','step4-shadow','step4-shadow')
                    .step4-item--title.step4-item--title1 Ежедневно 11 шт
                .step4-item 
                    .step4-img 
                        .step-img-wrap.step-img-wrap2 
                            +img('step4-img2.png','step4-img2','step4-img2 step-img')
                        +img('shadow.svg','step4-shadow','step4-shadow step4-shadow2')
                    .step4-item--title.step4-item--title2 Еженедельно 20 шт
                .step4-item 
                    .step4-img 
                        .step-img-wrap.step-img-wrap3
                            +img('step4-img3.png','step4-img3','step4-img3 step-img')
                        +img('shadow.svg','step4-shadow','step4-shadow step4-shadow3')
                    .step4-item--title.step4-item--title3 Каждый месяц 10 шт
            .main-prize 
                .main-prize-title Главный приз
                .main-prize-desc Промо-код на сумму <strong>20 000 ₽</strong> <br>на покупку электроники Redmond <br>9 штук
                +img('main-prize-img.png','Промо-код на сумму 20 000 ₽','main-prize-img')
    .vote-section 
        .container.vote-container 
            .vote-items.d-fx.jc-sb
                .vote-item 
                    +img('vote-img.png','Vote Img','vote-img')
                .vote-item 
                    h3.pl-8.color-white.mb-16.mt-63.mt-1299-39 Голосование
                    .vote-subtitle.color-white.mb-16.mw-531.pl-8 Поделись своей историей о самом необычном месте, в котором оказывался вместе с&nbsp;«Kabanos&nbsp;Chicken».
                    .vote-desc.mb-39.mw-531.pl-8 Загружай интересные фото, видео и истории, собирай лайки от других участников и получай дополнительный шанс выиграть Главный приз! <br>И главное - не забудь поделиться с друзьями ссылкой на голосование, чтобы точно собрать самое большое количество лайков!»
                    .actions 
                        a.btn.btn-white.vote-btn.px-70.fz-14.mr-17(href="#") Проголосовать
                        a.btn.btn-white.vote-btn.px-49.fz-14.mb-0(href="#") Отправить историю
    .winners#winner 
        .container.pos-r 
            +img('winners-img1.png','Winners Img','winners-img1')
            +img('winners-img2.png','Winners Img','winners-img2')
            h2.text-center.color-blue Победители
            .winners-header 
                .winners-nav 
                    button.table-btn.active Ежедневный
                    button.table-btn Еженедельный
                    button.table-btn Ежемесячный
                    button.table-btn Главный
                .winners-search 
                    input( type="text" aria-controls="winners" id="search" placeholder="поиск по номеру телефона" class="mask-phone")
                    button.winners-search__btn 
            table#winners 
                thead 
                    tr.trow.th-row 
                        th.th-column.th-data Дата розыгрыша
                        th.th-column.th-name Имя
                        th.th-column.th-city Город
                        th.th-column.th-phone Номер телефона
                tbody 
                    tr.trow.td-row 
                        td.t-column.table-date 12.11.2022
                        td.t-column.table-name В******
                        td.t-column.table-city Санкт-Петербург
                        td.t-column.table-phone +7 (999) *** ** 99)
                    tr.trow.td-row 
                        td.t-column.table-date 12.11.2022
                        td.t-column.table-name В******
                        td.t-column.table-city Санкт-Петербург
                        td.t-column.table-phone +7 (999) *** ** 99)
                    tr.trow.td-row 
                        td.t-column.table-date 12.11.2022
                        td.t-column.table-name В******
                        td.t-column.table-city Санкт-Петербург
                        td.t-column.table-phone +7 (999) *** ** 99)
                    tr.trow.td-row 
                        td.t-column.table-date 12.11.2022
                        td.t-column.table-name В******
                        td.t-column.table-city Санкт-Петербург
                        td.t-column.table-phone +7 (999) *** ** 99)
                    tr.trow.td-row 
                        td.t-column.table-date 12.11.2022
                        td.t-column.table-name В******
                        td.t-column.table-city Санкт-Петербург
                        td.t-column.table-phone +7 (999) *** ** 99)
                    tr.trow.td-row 
                        td.t-column.table-date 12.11.2022
                        td.t-column.table-name В******
                        td.t-column.table-city Санкт-Петербург
                        td.t-column.table-phone +7 (999) *** ** 99)
                    tr.trow.td-row 
                        td.t-column.table-date 12.11.2022
                        td.t-column.table-name В******
                        td.t-column.table-city Санкт-Петербург
                        td.t-column.table-phone +7 (999) *** ** 99)
                    tr.trow.td-row 
                        td.t-column.table-date 12.11.2022
                        td.t-column.table-name В******
                        td.t-column.table-city Санкт-Петербург
                        td.t-column.table-phone +7 (999) *** ** 99)
                    
    #qa-section.qa-section
        .container.pos-r 
            +img('qa-img1.png','QA Img','qa-img1')
            h3.text-center.color-white.mb-36.qa-title Вопросы и ответы
            .qa-items 
                .qa-item.qa-item1.mw-600.mr-60 
                    .faq-item 
                        .faq-title В какие сроки проводится Акция?
                        .faq-desc Общий срок проведения акции с 01 июля по 31 октября 2023 года. Срок регистрации участников в акции, срок совершения покупок и регистрации кодов: с 01 июля 2023 года по 30 сентября 2023 года. Акция проводится в розничных и интернет-магазинах, продающих продукцию ТМ «Kabanos Chicken» на территории РФ. Правила акции, информацию об Организаторе акции, порядке и условиях её проведения можно узнать на сайте https://www.kabanos-promo.ru/. Организатор акции – ООО «Ай-Экшн».
                    .faq-item.active.default-active 
                        .faq-title Что нужно сделать, чтобы принять участие в Акции?
                        .faq-desc Общий срок проведения акции с 01 июля по 31 октября 2023 года. Срок регистрации участников в акции, срок совершения покупок и регистрации кодов: с 01 июля 2023 года по 30 сентября 2023 года. Акция проводится в розничных и интернет-магазинах, продающих продукцию ТМ «Kabanos Chicken» на территории РФ. Правила акции, информацию об Организаторе акции, порядке и условиях её проведения можно узнать на сайте https://www.kabanos-promo.ru/. Организатор акции – ООО «Ай-Экшн».
                    .faq-item
                        .faq-title В какие сроки проводится Акция?
                        .faq-desc Общий срок проведения акции с 01 июля по 31 октября 2023 года. Срок регистрации участников в акции, срок совершения покупок и регистрации кодов: с 01 июля 2023 года по 30 сентября 2023 года. Акция проводится в розничных и интернет-магазинах, продающих продукцию ТМ «Kabanos Chicken» на территории РФ. Правила акции, информацию об Организаторе акции, порядке и условиях её проведения можно узнать на сайте https://www.kabanos-promo.ru/. Организатор акции – ООО «Ай-Экшн».
                    .faq-item
                        .faq-title Какой продукт необходимо купить, чтобы принять участие в акции?
                        .faq-desc Общий срок проведения акции с 01 июля по 31 октября 2023 года. Срок регистрации участников в акции, срок совершения покупок и регистрации кодов: с 01 июля 2023 года по 30 сентября 2023 года. Акция проводится в розничных и интернет-магазинах, продающих продукцию ТМ «Kabanos Chicken» на территории РФ. Правила акции, информацию об Организаторе акции, порядке и условиях её проведения можно узнать на сайте https://www.kabanos-promo.ru/. Организатор акции – ООО «Ай-Экшн».
                    .faq-item
                        .faq-title Какие сроки проведения акции?
                        .faq-desc Общий срок проведения акции с 01 июля по 31 октября 2023 года. Срок регистрации участников в акции, срок совершения покупок и регистрации кодов: с 01 июля 2023 года по 30 сентября 2023 года. Акция проводится в розничных и интернет-магазинах, продающих продукцию ТМ «Kabanos Chicken» на территории РФ. Правила акции, информацию об Организаторе акции, порядке и условиях её проведения можно узнать на сайте https://www.kabanos-promo.ru/. Организатор акции – ООО «Ай-Экшн».
                    .faq-item
                        .faq-title Когда и как я могу получить приз?
                        .faq-desc Общий срок проведения акции с 01 июля по 31 октября 2023 года. Срок регистрации участников в акции, срок совершения покупок и регистрации кодов: с 01 июля 2023 года по 30 сентября 2023 года. Акция проводится в розничных и интернет-магазинах, продающих продукцию ТМ «Kabanos Chicken» на территории РФ. Правила акции, информацию об Организаторе акции, порядке и условиях её проведения можно узнать на сайте https://www.kabanos-promo.ru/. Организатор акции – ООО «Ай-Экшн».
                    .faq-item
                        .faq-title До какого числа выдаются призы?
                        .faq-desc Общий срок проведения акции с 01 июля по 31 октября 2023 года. Срок регистрации участников в акции, срок совершения покупок и регистрации кодов: с 01 июля 2023 года по 30 сентября 2023 года. Акция проводится в розничных и интернет-магазинах, продающих продукцию ТМ «Kabanos Chicken» на территории РФ. Правила акции, информацию об Организаторе акции, порядке и условиях её проведения можно узнать на сайте https://www.kabanos-promo.ru/. Организатор акции – ООО «Ай-Экшн».
                .qa-item.qa-item2.mw-401 
                    .contact-form 
                        .contact-form-title Задать вопрос
                        .contact-form-subtitle Наши специалисты ответят на него в ближайшее время
                        form(action="") 
                            input(type="text" placeholder="Имя").text-input
                            input(type="text" placeholder="Фамилия").text-input
                            input(type="email" placeholder="E-mail").text-input
                            textarea(placeholder="Текст сообщения")
                            .d-fx.checkbox-item-wrap 
                                input(type="checkbox" id="check")
                                label(for="check") Поле для проставления отметки согласия на обработку персональных данных 
                            button.btn.blue-btn.contact-form-btn Отправить







    
                