extends /layout/page

block title
    title Блог

block content
    .container 
        .row.mt-0.mt-md-10
            .col
                nav(aria-label="breadcrumb")
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href="/").breadcrumb-item Главная
                        li(aria-current="page").breadcrumb-item.active Блог
        .row.mt-10.mt-xl-50
            .col 
                h2 Блог
        .row.mt-10.mt-xl-60  
            .col.d-none.d-xl-block
                ul.nav.nav-border.justify-content-between 
                    li.nav-item
                        a(href='#tab-1' data-bs-toggle="tab").nav-link.active Все
                    li.nav-item
                        a(href='#tab-2' data-bs-toggle="tab").nav-link Маркетинговые коммуникации
                    li.nav-item
                        a(href='#tab-3' data-bs-toggle="tab").nav-link Реклама в интернете
                    li.nav-item
                        a(href='#tab-4' data-bs-toggle="tab").nav-link Стимулирование продаж
                    li.nav-item
                        a(href='#tab-5' data-bs-toggle="tab").nav-link Экспертная 
                    li.nav-item
                        a(href='#tab-6' data-bs-toggle="tab").nav-link Креатив и стратегии
                    li.nav-item
                        a(href='#tab-7' data-bs-toggle="tab").nav-link Производство
                    li.nav-item
                        a(href='#tab-8' data-bs-toggle="tab").nav-link It Разработки
            .col.d-block.d-xl-none  
                select.form-select.select-nav(aria-label="Default select example")
                    option(data-target="#tab-1") Все
                    option(data-target="#tab-2") Маркетинговые коммуникации
                    option(data-target="#tab-3") Реклама в интернете
                    option(data-target="#tab-4") Стимулирование продаж
                    option(data-target="#tab-5") Экспертная
                    option(data-target="#tab-6") Креатив и стратегии
                    option(data-target="#tab-7") Производство
                    option(data-target="#tab-8") It Разработки
        .row.tab-content
            #tab-1.tab-pane.fade.active.show  
                .row
                    .col-sm-6
                        a(href="").article-item
                            img(src="img/product/maheev.jpg" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 МахеевЪ: Точно в твоем вкусе 
                                    .par-15.c-gray-middle Акция с чеками в торговой сети "Лента"
                                .par-15.c-gray-middle 2022
                        a(href="").article-item
                            img(src="img/product/maheev.jpg" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 МахеевЪ: Точно в твоем вкусе 
                                    .par-15.c-gray-middle Акция с чеками в торговой сети "Лента"
                                .par-15.c-gray-middle 2022
                    .col-sm-6
                        .article-item
                            img(src="img/blog/mah.png" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 МахеевЪ: Точно в твоем вкусе 
                                    .par-15.c-gray-middle Акция с чеками в торговой сети "Лента"
                                .par-15.c-gray-middle 2022
                        a(href="").article-item
                            img(src="img/product/maheev.jpg" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 МахеевЪ: Точно в твоем вкусе 
                                    .par-15.c-gray-middle Акция с чеками в торговой сети "Лента"
                                .par-15.c-gray-middle 2022
            #tab-2.tab-pane.fade  
                .row
                    .col-sm-6
                        a(href="").article-item
                            img(src="img/product/maheev.jpg" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 МахеевЪ: Тdочно в твоем вкусе 
                                    .par-15.c-gray-middle Акция с чеками в торговой сети "Лента"
                                .par-15.c-gray-middle 2022
                        a(href="").article-item
                            img(src="img/product/maheev.jpg" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 МахеевЪ: Точно в твоем вкусе 
                                    .par-15.c-gray-middle Акция с чеками в торговой сети "Лента"
                                .par-15.c-gray-middle 2022
                    .col-sm-6
                        .article-item
                            img(src="img/blog/mah.png" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 МахеевЪ: Точно в твоем вкусе 
                                    .par-15.c-gray-middle Акция с чеками в торговой сети "Лента"
                                .par-15.c-gray-middle 2022
                        a(href="").article-item
                            img(src="img/product/maheev.jpg" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 МахеевЪ: Точно в твоем вкусе 
                                    .par-15.c-gray-middle Акция с чеками в торговой сети "Лента"
                                .par-15.c-gray-middle 2022

