extends /layout/page

block title
    title Проекты

block content
    .container 
        .row.mt-0.mt-md-10
            .col
                nav(aria-label="breadcrumb")
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href="/").breadcrumb-item Главная
                        li(aria-current="page").breadcrumb-item.active Проекты
        .row.mt-10.mt-xl-40
            .col 
                h2 Проекты
        .row.mt-10.mt-xl-60  
            .col.d-none.d-xl-block
                ul.nav.nav-border
                    li.nav-item
                        a(href='#tab-1' data-bs-toggle="tab").nav-link.active Все
                    li.nav-item
                        a(href='#tab-2' data-bs-toggle="tab").nav-link Промоакции
                    li.nav-item
                        a(href='#tab-3' data-bs-toggle="tab").nav-link Программы лояльности
                    li.nav-item
                        a(href='#tab-4' data-bs-toggle="tab").nav-link Креатив
                    li.nav-item
                        a(href='#tab-5' data-bs-toggle="tab").nav-link Брендирование
                    li.nav-item
                        a(href='#tab-6' data-bs-toggle="tab").nav-link Выставочные стенды
                    li.nav-item
                        a(href='#tab-7' data-bs-toggle="tab").nav-link Конкурсы
                    li.nav-item
                        a(href='#tab-8' data-bs-toggle="tab").nav-link CVM
            .col.d-block.d-xl-none  
                select.form-select.select-nav()
                    option(data-target="#tab-1") Все
                    option(data-target="#tab-2") Промоакции
                    option(data-target="#tab-3") Программы лояльности
                    option(data-target="#tab-4") Креатив
                    option(data-target="#tab-5") Брендирование
                    option(data-target="#tab-6") Выставочные стенды
                    option(data-target="#tab-7") Конкурсы
                    option(data-target="#tab-8") CVM
        .row.tab-content
            #tab-1.tab-pane.fade.active.show  
                .row.cases_block
                    .col-sm-6
                        a(href="/success/...").article-item
                            img(src="upload/success/maheev_tochno_1.png" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 МахеевЪ: Точно в твоем вкусе 
                                    .par-15.c-gray-middle Акция с чеками в торговой сети "Лента"
                                .par-15.c-gray-middle 2023
                    .col-sm-6
                        a(href="").article-item
                            img(src="upload/success/baisad_main.png" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 Байсад: Все по-новому!
                                    .par-15.c-gray-middle Акция с чеками и отдельными призовыми фондами по торговым сетям на территории Российской...
                                .par-15.c-gray-middle 2023
                    .col-sm-6
                        .article-item
                            img(src="img/blog/mah.png" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 МахеевЪ: Точно в твоем вкусе 
                                    .par-15.c-gray-middle Акция с чеками в торговой сети "Лента"
                                .par-15.c-gray-middle 2022
                    .col-sm-6
                        a(href="").article-item
                            img(src="img/product/maheev.jpg" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 МахеевЪ: Точно в твоем вкусе 
                                    .par-15.c-gray-middle Акция с чеками в торговой сети "Лента"
                                .par-15.c-gray-middle 2022
                    .col-12 
                        button.btn.gray-border-btn.btn-lg.w-100.mt-40.mt-md-60.show-content Загрузить еще
            #tab-2.tab-pane.fade  
                .row.cases_block
                    .col-sm-6
                        a(href="/success/...").article-item
                            img(src="upload/success/maheev_tochno_1.png" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 МахеевЪ: Точно в твоем вкусе 
                                    .par-15.c-gray-middle Акция с чеками в торговой сети "Лента"
                                .par-15.c-gray-middle 2023
                    .col-sm-6
                        a(href="/success/...").article-item
                            img(src="upload/success/baisad_main.png" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 Байсад: Все по-новому!
                                    .par-15.c-gray-middle Акция с чеками и отдельными призовыми фондами по торговым сетям на территории Российской...
                                .par-15.c-gray-middle 2023
                    .col-sm-6
                        a(href="/success/...").article-item
                            img(src="upload/success/brest_main.png" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 Брест-Литовск: Новогодняя сыромагия
                                    .par-15.c-gray-middle Акция с чеками в торговой сети "Пятёрочка"
                                .par-15.c-gray-middle 2023
                    .col-sm-6
                        a(href="/success/...").article-item
                            img(src="upload/success/baisad_igrai_main.jpg" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 Байсад: Играй и выигрывай!
                                    .par-15.c-gray-middle Акция с чеками на территории Российской Федерации.
                                .par-15.c-gray-middle 2023
                    .col-sm-6
                        a(href="/success/...").article-item
                            img(src="upload/success/petruha_otpusk.jpg" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 Петруха: Сезон отпусков
                                    .par-15.c-gray-middle Акция с чеками в торговых сетях «Перекрёсток» и «Карусель» на территории Российской Федерации.
                                .par-15.c-gray-middle 2023
                    .col-sm-6
                        a(href="/success/...").article-item
                            img(src="upload/success/79a6e25640e9f83538411e5d56e5e99c.jpg" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 РОК №1: По своему хотению, по рыбкиному велению!
                                    .par-15.c-gray-middle Промоакция с кодами для покупателей продукции под торговой маркой «Своя рыбка».
                                .par-15.c-gray-middle 2023
                    .col-sm-6
                        a(href="/success/...").article-item
                            img(src="upload/success/Maheev dzhem.png" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 Махеевъ: Джем да блин!
                                    .par-15.c-gray-middle Промоакция с чеками, для покупателей продукции торговой марки «Махеев».
                                .par-15.c-gray-middle 2023
                    .col-sm-6
                        a(href="/success/...").article-item
                            img(src="upload/success/7ddb9496366fdd85691d024f6cebe37c.jpg" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 Махеевъ: Лайки от хозяйки
                                    .par-15.c-gray-middle Промоакция с чат-ботом Whats app для увеличения конверсии акции
                                .par-15.c-gray-middle 2023
                    .col-sm-6
                        a(href="/success/...").article-item
                            img(src="upload/success/Maheev dzhem.png" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 Махеевъ: Джем да блин!
                                    .par-15.c-gray-middle Промоакция с чеками, для покупателей продукции торговой марки «Махеев».
                                .par-15.c-gray-middle 2023
                    .col-sm-6
                        a(href="/success/...").article-item
                            img(src="upload/success/7ddb9496366fdd85691d024f6cebe37c.jpg" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 Махеевъ: Лайки от хозяйки
                                    .par-15.c-gray-middle Промоакция с чат-ботом Whats app для увеличения конверсии акции
                                .par-15.c-gray-middle 2023
                    .col-12 
                        button.btn.gray-border-btn.btn-lg.w-100.mt-40.mt-md-60.show-content Загрузить еще
            #tab-8.tab-pane.fade 
                .row.cases_block
                    .col-sm-6
                        a(href="/success/...").article-item
                            img(src="upload/success/cvm/koffee_main.png" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 Московская кофейня на паях – CVM Multi-offer
                                .par-15.c-gray-middle 2023
                    .col-sm-6
                        a(href="").article-item
                            img(src="upload/success/cvm/brest_check_cvm.jpg" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 Савушкин Продукт (Брест Литовск) - СVM кампания с вознаграждением
                                .par-15.c-gray-middle 2023
                    .col-sm-6
                        .article-item
                            img(src="upload/success/cvm/blagoyar_main1.jpg" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 Благояр - СVM кампания с вознаграждением
                                .par-15.c-gray-middle 2022
                    .col-sm-6
                        a(href="").article-item
                            img(src="upload/success/cvm/lalibela_main1.png" alt="").img-fluid
                            .article-details
                                .article-details-text     
                                    .par-20 Кофейная компания Lalibela – инфорассылка
                                .par-15.c-gray-middle 2022
                    .col-12 
                        button.show-content 3