
footer.footer
    .container 
        .row 
            .col-md-4.col-xl-3.order-last.order-md-first
                a(href="tel:8-800-505-34-14").phone 8-800-505-34-14 
                .par-12.c-white.mt-12 г. Москва, вн.тер.г. м.о.Марьина Роща,<br> ул. Полковая, д. 3,
            .col-md-4.col-xl-3.mb-30.mb-md-0
                ul
                    li
                        a(href="/")  IT-разработка
                    li 
                        a(href="/")  Мотивационные программы для продавцов
                    li
                        a(href="/")  Повышение продаж
                    li 
                        a(href="/")  Производство рекламных материалов
            .col-md-4.col-xl-3.mb-30.mb-md-0 
                ul
                    li
                        a(href="about-agency.html")  Об агентстве
                    li 
                        a(href="success.html")  Кейсы
                    li
                        a(href="contacts.html")  Контакты
                    li 
                        a(href="/")  Личный кабинет   
        .row.mt-40.mt-md-20 
            .par-12.c-green-light-2 АО «Оригинал». Государственная аккредитация организаций, осуществляющих деятельность в области информационных технологий. Запись в реестре No.2278 от 15.11.2012г.<br>
                |Лицензия Федеральной службы по надзору в сфере связи, информационных технологий и массовых коммуникаций №89883 от 28.07.2011г., №113116 от 15.08.2013г.<br>
                |Все права защищены и охраняются законом. Использование материалов сайта разрешено только с письменного разрешения.  




