.container-fluid.bgc-green.mt-70.mt-lg-160.py-40.py-lg-160.form
    .container
        .row
            .col-lg-3 
                +img("/bg/form-bg.svg", '','form-img', '103') 
            .col-lg-6  
                .form.mt-40.mt-lg-0
                    h2.c-white Давайте обсудим<br> ваш проект 
                    .par-25.c-white.mt-16.mt-lg-30 Запишитесь на личную встречу, чтобы познакомиться и обсудить все вопросы онлайн или в офисе
                    form
                        .form-group.mt-20.mt-lg-40 
                            input(type="text" class="form-control" class="input" placeholder="Введите имя").form-control.mt-16
                            input(type="tel" class="form-control" class="input" placeholder="Введите номер телефона").form-control.mt-16
                            input(type="email" class="form-control" class="input" placeholder="Введите email").form-control.mt-16
                            button(type="submit").btn.btn-black.w-100.mt-20.mt-lg-40  Оставить заявку
            .col-lg-3  
