.modal#modal-enter
    .modal-dialog.modal-lg.modal-dialog-centered
        .modal-content.br-16.bgc-green
            .modal-body
                button(type="button" data-bs-dismiss="modal" aria-label="Close").close
                    +img('/icons/close-modal.svg', 'close-ic')
                .container.py-40.py-lg-80.form
                    .row
                        .col-sm-2 
                         
                        .col-sm-8  
                            .form.mt-40.mt-lg-0
                                h2.c-white Давайте обсудим<br> ваш проект 
                                .par-25.c-white.mt-16.mt-lg-30 Запишитесь на личную встречу, чтобы познакомиться и обсудить все вопросы онлайн или в офисе
                                form.row.form-group.needs-validation.mt-20.mt-lg-40.px-0(novalidate) 
                                    .col-12
                                        input(type="text" class="form-control" class="input" placeholder="Введите имя" required).mt-16
                                        .invalid-feedback Введите имя
                                    .col-12
                                        input(type="tel" class="form-control" class="input" placeholder="Введите номер телефона" required).mt-16.mask-phone
                                        .invalid-feedback Введите номер телефона
                                    .col-12    
                                        input(type="email" class="form-control" class="input" placeholder="Введите email" required).mt-16
                                        .invalid-feedback.c-re Введите email
                                    .col-12
                                        button(type="submit").btn.btn-black.w-100.mt-20.mt-lg-40  Оставить заявку
                        .col-sm-2  

 

